/* Container for the left and right sections */
.container {
  display: flex;
  height: 100vh;
}

/* Left section styles */
.left-section1 {
  width: 250px; /* Adjust the width as needed */
  border-right: 0.5px solid var(--color-black);
  display: flex;
  flex-direction: column;
  padding: var(--padding-21xl) 0 var(--padding-13xl);
  box-sizing: border-box;
}

.list-of-exercises1 {
  flex: 1;
  overflow-y: auto;
}

.exercise20 {
  padding: var(--padding-lg);
  border-bottom: 1px solid var(--color-black);
  cursor: pointer;
}

.body2 {
  display: flex;
}

.exercise20:hover {
  background-color: var(--color-gray-300);
}

.bench-press18 {
  font-size: var(--font-size-5xl);
}

/* Right section styles */
.recommendation {
  flex: 1;
  padding: var(--padding-21xl);;
  overflow-y: auto;
}

.heading1 {
  margin-bottom: var(--margin-lg);
}

.chest {
  font-size: var(--font-size-7xl);
  font-weight: 700;
  color: #E71212;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border:1px solid var(--color-black) ;
}

.table-header {
  display: flex;
  /* justify-content: space-between; */
  border-bottom: 1px solid var(--color-black);
  padding-bottom: var(--padding-md);
  padding-left: 0px;
  text-align: center;
}

.header-cell {
  font-weight: bold;
  flex: 1;
  text-align: left;
  padding: var(--padding-sm);
}

.table-body {
  margin-top: var(--margin-md);
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 180px;
}

.exercise20.active {
  background-color: #E71212; /* Red background for active item */
  color: white; /* White text for active item */
  width: 249px;
}

.number-of-sets {
  width: 180px;
  font-size: 17px;
  border: 1px solid var(--color-black);
}

.number-of-reps,
.required-equipment {
  width: 180px;
  font-size: 17px;
  border: 1px solid var(--color-black);
}

.exercise-name3 {
  justify-content: space-between;
  padding: 20px 0 20px 0;
  width: 180px;
  border:1px solid var(--color-black) ;
}

.bench-press24 {
  font-size: 14px;
}
