/* NavSections1.css */
.nav-sections2 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #FFFFFF;
  color: #E71212;
  font-size: 24px;
  line-height: 29.05px;
  font-family: var(--font-inter);
  gap: 3%;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px; /* Adjusted gap */
}

.logo img {
  width: 100px; /* Adjust size as needed */
  height: 100px;
}

.logo .app-name {
  font-size: 32px; /* Large font size for app name */
  font-weight: 700;
  margin-top: 10px; /* Adjusted gap */
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: var(--padding-sm) 15px; /* Adjusted padding */
  width: 208px;
  color: #E7121280;
  transition: color 0.3s, background-color 0.3s;
}

.nav-item.active {
  background-color: #EDF1F3;
  color: #E71212;
}
.logout-button{
  border:1px solid #E71212;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 5px 5px 5px 15px; /* Adjusted padding */
  width: 140px;
  gap: 9%;
  color: #E71212;
  margin-top: 30px;
  transition: color 0.3s, background-color 0.3s;
}
.nav-item-name {
  font-size: 18px;
  line-height: 29.05px;
}

.nav-item:hover {
  color: var(--color-white);
}

.nav-item img {
  margin-right: 15px;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 450px) {
  .exercises3, .profile7, .workouts4 {
    font-size: var(--font-size-lgi);
  }
}
